.progress-display-environment-left .ant-progress-inner {
    transform: rotate(3.142rad);
}

.progress-display-environment-left .ant-progress-bg,
.progress-display-environment-right .ant-progress-bg {
    background:  linear-gradient(107.87deg, #A1F8A5 0%, #0FA04C 100.04%);
    border-radius: 0px 0px 0px 0px;
}