@import url("https://fonts.googleapis.com/css2?family=Inter&family=Prompt:ital,wght@0,200;1,100&display=swap");

.profile {
    background: white;
    height: 500vh;
    z-index: -2;
    font-family: "Prompt", sans-serif;
}
hr {
    border: 1px solid #C0D9FD;
    color: #C0D9FD;
}

.motivated_result_left {
    position: absolute;
    left: 7%;
    font-weight: bold;
    font-size: 16px;
    line-height: 32px;
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
    text-transform: capitalize;
    color: #114E96;
}

.motivated_result_right {
    position: absolute;
    left: 20%;
    right: 58%;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
    text-transform: capitalize;
    color: #4F4F4F;
}

.environment_result_left {
    position: absolute;
    left: 7%;
    font-weight: bold;
    font-size: 16px;
    line-height: 32px;
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
    text-transform: capitalize;
    color: #27AE60;
}

.environment_result_right {
    position: absolute;
    left: 20%;
    right: 58%;  
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
    text-transform: capitalize;
    
    color: #4F4F4F;
}
.ideal_result_left {
    position: absolute;
    left: 7%;
    font-weight: bold;
    font-size: 16px;
    line-height: 32px;
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
    text-transform: capitalize;
    color: #FF814B;
}
.ideal_result_right {
    position: absolute;
    left: 20%;
    right: 58%;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
    text-transform: capitalize;
    color: #4F4F4F;
}

.hide-navbar-profile {
    display: none;
}

.profile-bg {
    background: darkblue;
    height: 60vh !important;
    max-width: 100% !important;
    position: relative;
    
    font-weight: bold;
    font-size: large;
    z-index: 0 !important;
}

.profile-bluebg {
    top: 0;
    left: 0;
    max-width: 100% !important;
    position: absolute;
    z-index: -1 !important;
}

.profile-purplebg {
    top: 0;
    right: 0;
    position: absolute;
    max-width: 100%;
    z-index: -1 !important;
    opacity: 0.32;
}

.profile-logo {
    max-width: 350px;
    max-height: 400px;
    position: absolute;
    top: 17px;
    left: 0 !important;
}

nav.head-profile1 img.logo {
    z-index: -1 !important;
    margin: 0;
}

nav.head-profile1 {
    display: flex;
    float: right;
    z-index: 3 !important;
}

ul.center {
    margin-right: 250px;
    padding: 0;
}

li.item-center {
    padding-left: 0.5rem;
    margin: 30px 5px;
    text-align: center;
}

ul.right {
    margin-right: 200px;
    padding: 0;
}

li.item-right {
    margin-top: 30px;
}

.achievement-box {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    width: 96%;
    height: 40%;
    margin: 20px;
    position: relative;
}

.achievement-box-head {
    display: flex;
    justify-content:space-between;
}

.text-right-container-3 {
    margin-left: 20px;
    margin-top: 15px;
    font-weight: 700;
    position: absolute;
}

.display-achievement {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
}

.achievement {
    margin: 10px 17px;
    padding: 5px 20px;
    width: 490px;
    height: 120px;
    border-radius: 10px;
    background: rgb(223, 221, 221);
}

.achievement-box-head button.btn2 {
    color: #eb9714;
    display: flex;
    width: fit-content;
    border-radius: 30px;
    background-color: #fdf2e4;
    margin: 15px 20px 0px 0px;
    border: none;
    padding: 5px 25px;
}

h3.title {
    font-weight: 600;
    font-size: 16px;
line-height: 32px;
}

p.description {
    color: black; 
}

.edit-description {
    font-size: 15px;
    color: #4b7eff;
    float: right;
    margin-right: 10px;
}
.delete-achievement {
    font-size: 15px;
    color: #4b7eff;
    float: right;
}
.read-more {
    font-size: 15px;
    color: #FF814B;
    float: right;
    margin-top: 10px;
}

.date {
    color: #4F4F4F;
    font-weight: 400;
    font-size: 12px;
}

.type-achievement {
    color: #4F4F4F;
    font-size: 12px;
    margin-top: 10px;
}

.dashboard-container {
    background: #f4f8fe;
    opacity: 0.95;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    Width: 1091px;
    Height: 2397px;
    /* margin-top: 0; */

    margin: 0px auto 160px auto;
    transform: translateY(-280px);
    display:flex;
    flex-direction: column;
    row-gap: 5px;
    position: relative;
}

.about-me-container {
    background-color: white;
    Width: 1043px;
    Height: 313px;
    border-radius: 15px;
    margin: 20px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h4.firstname {
    margin-top: 10px;
    font-size: 24px;
    font-weight: 700;
}

h4.email {
    font-weight: 400;
    font-size: 16px;
}

.hashtag-box {
    position: relative;
}

.hashtag-box ::before {
    z-index: 90;
    width: 99px;
    height: 35px;
    padding: 8px;
    border: 0.5px solid transparent;
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 10px;
    padding: 2px;
    background: linear-gradient(104.01deg, #FF9B36 16.19%, #FF3879 48.23%, #A255FF 85%);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}

.hashtag {
    text-align: center;
    z-index: 100;
    background: linear-gradient(104.01deg,
            #ff9b36 16.19%,
            #ff3879 48.23%,
            #a255ff 85%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-top: 8px;
    margin-left: 8.5px;
    font-weight: 400;
    font-size: 16px;
}

.personality-container {
    background-color: #fdf2e4;
    height: 150px;
    border-radius: 15px;
    margin: 20px;
    margin-top: 10px;
}

.user-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    width: 50%;
    height: 300px;
    margin: 10px;
}

.description-detail {
    background: linear-gradient(104.01deg,
            #ff9b36 16.19%,
            #ff3879 48.23%,
            #a255ff 85%);
    border-radius: 10px;
    Width: 428px;
    Height: 223px;
    margin: 39px 56px 51px 0px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: relative;
}

img.circle {
    position: absolute;
    right: 10%;
    top: 30%;
    z-index: 1;
}

img.person {
    position: absolute;
    right: 12.5%;
    top: 24%;
    z-index: 4;
}

.results-container {
    height: fit-content;
    border-radius: 15px;
    margin: 15px;
    display: flex;
}

.left-container {
    /* border: 2px solid black; */
    background-color: white;
    border-radius: 15px;
    width: 50%;
    height: 1500px;
    margin: 5px;
}

.motivated-box {
    /* border: 2px solid black; */
    background-color: #f3f8ff;
    border-radius: 15px;
    width: 95%;
    height: 37%;
    margin: 10px;
    margin-top: 20px;
}

.motivate-header-box {
    /* border: 2px solid red; */
    border-radius: 15px 15px 0px 0px;
    display: flex;
    justify-content: center;
    background: linear-gradient(107.87deg, #599be9 0%, #0b25e0 100.04%);
}

.environment-header-box {
    border-radius: 15px 15px 0px 0px;
    display: flex;
    justify-content: center;
    background: linear-gradient(107.87deg, #a1f8a5 0%, #0fa04c 100.04%);
}

.work-header-box {
    border-radius: 15px 15px 0px 0px;
    display: flex;
    justify-content: center;
    background: linear-gradient(180deg, #eb9714 0%, #ff814b 100%);
}

.text-motivated {
    color: white;
    margin: 10px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 32px;
}

.environment-box {
    /* border: 2px solid black; */
    background-color: #f3f8ff;
    border-radius: 15px;
    width: 95%;
    height: 29%;
    margin: 10px;
    margin-top: 20px;
}

.work-box {
    /* border: 2px solid black; */
    background-color: #f3f8ff;
    width: 95%;
    border-radius: 15px;
    height: 29%;
    margin: 10px;
    margin-top: 20px;
}

.right-container {
    /* border: 4px solid red; */
    width: 50%;
    height: 980px;
    margin: 5px;
}

.radar-chart-box {
    /* border: 2px solid black; */
    background-color: white;
    border-radius: 15px;
    width: 96%;
    height: 30%;
    margin: 20px;
    margin-top: 0px;
}

.strength-box {
    background-color: white;
    border-radius: 15px;
    width: 96%;
    height: 30%;
    margin: 20px;
}
.display-image-strength{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}

.strength-box-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 1rem; */
}

.strength-box-head h5 {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    margin-left: 20px;
    margin-top: 20px;
}

.strength-box-head button.btn1 {
    color: #eb9714;
    display: flex;
    width: fit-content;
    border-radius: 30px;
    background-color: #fdf2e4;
    margin-top: 20px;
    margin-right: 20px;
    border: none;
    padding: 5px 25px;
}

.text-right-container {
    margin: 10px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 32px;
}

.text-right-container-1 {
    float: left;
    margin: 15px 0px 0px 20px;
    color: #4F4F4F;
    font-weight: 700;
    font-size: 20px;

}

.text-right-container-2 {
    color: #4F4F4F;
    font-weight: 700;
}

.text-personality-container {
    margin: 1rem;
    font-weight: bold;
}

.text-results-container {
    margin: 0.8rem;
    font-weight: bold;
}

h4.text-description {
    width: 50%;
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin-left: 20px;
    margin-top: 45px;
}

h4.text-description-2 {
    width: 50%;
    font-size: 19px;
    color: white;
    margin-top: 20px;
    margin-left: 20px;
}
.checkCicle-list {
    background:linear-gradient(104.01deg, #FF9B36 16.19%, #FF3879 48.23%, #A255FF 85%);
}

.not-authorized-page {
    background: darkblue;
    justify-content: center;
    height: 909px;
    position: relative;
}

h1.not-authorized {
    position: absolute;
    margin: 100px 300px;
    color: white;
}

h2.login-first {
    position: absolute;
    margin: 200px 600px;
    color: white;
}

button.not-authorized-btn {
    position: absolute;
    background: linear-gradient(180deg, #EB9714 0%, #FF814B 100%);
    padding: 20px 50px;
    margin: 300px 580px;
    border-radius: 30px;
    font-size: 20px;
    color: white;
}

.modal-display-achievement {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    margin: 15px;
}
.modal-display-achievement .title-2, 
.modal-display-achievement .description, 
.modal-display-achievement .date{
    margin-left: 10px;
    transform: translateY(-3px);
    font-size: 15px;
}

@media (min-width: 1200px) {

    ul.nav2,
    i#profile-icon2,
    i#profile-icon1 {
        display: none;
    }
    .achievement {
        width: 480px;
    }
}

@media (max-width: 1200px) {
    nav.head-profile1 {
        margin-top: 15px;
        font-size: 18px;
    }

    ul.center {
        margin-right: 100px;
    }

    ul.nav2,
    i#profile-icon2,
    i#profile-icon1 {
        display: none;
    }
    .achievement {
        width: 360px;
    }
}

@media (max-width: 992px) {
    .profile-bluebg {
        width: 300px;
    }

    .profile-purplebg {
        width: 450px;
    }

    .profile-logo {
        max-width: 280px;
        max-height: 350px;
        position: absolute;
        top: 17px;
        left: 0 !important;
    }

    nav.head-profile1 {
        margin-top: 13px;
        font-size: 14px;
    }

    ul.center {
        margin-right: 85px;
    }

    ul.right {
        margin-right: 100px;
    }

    ul.nav2,
    i#profile-icon2,
    i#profile-icon1 {
        display: none;
    }
    .achievement {
        width: 270px;
        height: 100px;
    }
    h3.title {
        font-size: 12px;
    }
    p.date, 
    a.read-more {
        font-size: 10px;
    }
    h5.text-right-container-3,
    h5.text-right-container-2,
    h5.text-right-container-1,
    h5.text-results-container  {
        font-size: 15px;
    }
    .strength-box-head button.btn1,
    .achievement-box-head button.btn2 {
        padding: 0px 10px;
        font-size: 15px;
    }
    .profile-purplebg {
       top: 20px;
    }
    .img-strength {
        width: 50px;
    }
    .profile {
        height: 100vh;
    }
    .left-container {
        height: 1100px;
    }
    h5 {
        font-size: 15px;
    }
    .motivated-box,
    .work-box {
        height: 300px;
    }
    .environment-box {
        height: 400px;
    }
}

@media (max-width: 768px) {
    .profile-bluebg {
        width: 250px;
    }

    .profile-purplebg {
        width: 400px;
    }

    .profile-logo {
        max-width: 230px;
        max-height: 290px;
        position: absolute;
        top: 17px;
        left: 0 !important;
    }

    nav.head-profile1 {
        margin-top: 8px;
        font-size: 10px;
    }

    ul.center {
        margin-right: 50px;
    }

    ul.right {
        margin-right: 80px;
    }

    ul.nav2,
    i#profile-icon2,
    i#profile-icon1 {
        display: none;
    }
    .profile {
        height: 100vh;
    }
    .dashboard-container {
        width: 700px;
        margin: 30px ;
    }
    .left-container {
        height: 1100px;
    }
    h5 {
        font-size: 15px;
    }
    .motivated-box,
    .work-box {
        height: 300px;
    }
    .environment-box {
        height: 400px;
    }
}

@media (max-width: 576px) {
    .profile-bg {
        height: 40vh;
    }

    .profile-bluebg {
        width: 200px;
    }

    .profile-purplebg {
        width: 300px;
    }

    .profile-logo {
        width: 180px;
        margin-top: 0;
        z-index: -1;
    }

    nav.head-profile1 {
        display: none !important;
    }

    nav.head-profile2 {
        position: absolute;
        top: 0px;
        left: 0 !important;
        z-index: -1 !important;
        margin: 0;
        align-items: center;
        justify-content: center;
        margin: 0;
    }

    ul.nav2 {
        font-size: 10px;
        display: flex;
        flex-direction: column;
        /* margin-right: 250px; */
        margin-top: 60px;
        align-items: center;
        justify-content: center;
        float: none;
        z-index: 3;
        padding: 0;
    }

    nav.head-profile2 ul.nav2 li.item2 {
        margin: 5px 0 10px 0;
        line-height: 30px;
        filter: none;
    }

    label.label-profile {
        float: right;
    }

    label.label-profile i#profile-icon1,
    label.label-profile i#profile-icon2 {
        font-size: 25px;
        margin-top: 30px;
        margin-right: 20px;
        cursor: pointer !important;
        z-index: 1 !important;
        display: block;
        margin-left: 500px;
    }
    .profile {
        height: 100vh;
    }
    .dashboard-container {
        width: 500px;
        margin: 0px 30px ;
    }
    .left-container {
        height: 980px;
    }
    h5 {
        font-size: 12px;
    }
    .motivated-box,
    .work-box {
        height: 250px;
    }
    .environment-box {
        height: 360px;
    }
    .achievement {
        width: 190px;
        height: 150px;
    }
    .img-strength {
        width: 40px;
    }
    .achievement-box {
        height: 300px;
    }
    h3.title {
        font-size: 10px;
    }
    p.date, 
    a.read-more {
        font-size: 8px;
    }
    h5.text-right-container-3,
    h5.text-right-container-2,
    h5.text-right-container-1,
    h5.text-results-container  {
        font-size: 10px;
    }
    .strength-box-head button.btn1,
    .achievement-box-head button.btn2 {
        padding: 0px 10px;
        font-size: 10px;
    }
}

