.left-side-bar {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    margin: 10px;
}
.right-side-bar {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px;
}

.progress-display .ant-progress-inner {
    transform: rotate(3.142rad);
}

/* .ant-progress-bg {
    background: white;
} */


