.left-side-bar {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    margin: 10px;
}
.right-side-bar {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px;
}

.progress-display-blue-left .ant-progress-inner {
    transform: rotate(3.142rad);
}

.progress-display-blue-left .ant-progress-bg,
.progress-display-blue-right .ant-progress-bg {
    background:  linear-gradient(107.87deg, #599BE9 0%, #0B25E0 100.04%);
}