.box {
    z-index: 3 !important;
    border: 1px solid black;
    background: white;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: auto;
    border-radius: 15px;
    z-index: 5 !important;
    max-width: 700px;
}

.inbox {
    color: black;
    display: flex;
    flex-direction: column;
    position: relative;

}

.bar {
    margin: 20px 60px;
}

.head {
    margin: 10px 60px;
    font-size: 17px;
}

.c1, .c2, .c3, .c4 {
    border: 1px solid black;
    background: white;
    border-radius: 20px;
    margin: 15px 150px;
}

.checkbox {
    margin: 20px 20px;
}

.btn {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    padding: 20px 150px;
}

.list-btn1 {
    padding: 10px 20px;
    background: #FFFFFF;
    border: 1px solid #1533E1;
    border-radius: 30px;
    color: #1533E1;
}

.list-btn1:hover {
    background: #1533E1;
    color: white;
}

.list-btn2 {
    padding: 10px 20px;
    border-radius: 30px;
    border: none;
    width: 125px;
    height: 45px;
    background: linear-gradient(180deg, #EB9714 0%, #FF814B 100%);
    color: white;
}

.list-btn2:hover {
    background: rgb(109, 105, 105);
    color: white;
}

/* @media (min-width: 1200px) {
    div.box {
        margin: auto;
    }
}

@media (max-width: 1200px) {
    div.box {
        margin: auto;
    }
}

@media (max-width: 992px) {
    div.box {
        margin: auto;
    }
}

@media (max-width: 768) {
    div.box {
        margin: auto;
        width: 100px;
    }
}

@media (max-width: 576) {
    .box {
        margin: 0px 100px;
        width: 100px;
    }
    .btn {
        flex-direction: row;
        display: flex;
        justify-content: space-between;
        padding: 20px 50px;
    }
} */


