/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.box {
    z-index: 3 !important;
    border: 1px solid black;
    background: white;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto;
    border-radius: 15px;
    z-index: 5 !important;
    /* max-width: 700px; */
    height: 540px;
    width: 730px;
}

.inbox {
    color: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
}

.bar {
    margin: 20px 60px;
}

.head-quiz {
    margin: 10px 60px 0px 60px;
    font-weight: bolder;
    font-size: 18px;
    line-height: 56px;
    letter-spacing: 0.2px;
}

.c1, .c2, .c3, .c4 {
    border: 1px solid black;
    background: white;
    border-radius: 20px;
    margin: 15px 150px;
}

.checkbox {
    margin: 20px 20px;
}

.btn {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 20px 70px;
}

.list-btn1 {
    padding: 10px 20px;
    background: #FFFFFF;
    border: 1px solid #1533E1;
    border-radius: 30px;
    color: #1533E1;
}

.list-btn1:hover {
    background: #1533E1;
    color: white;
}

.list-btn2 {
    padding: 10px 20px;
    border-radius: 30px;
    border: none;
    width: 125px;
    height: 45px;
    background: -o-linear-gradient(top, #EB9714 0%, #FF814B 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(#EB9714), to(#FF814B));
    background: linear-gradient(180deg, #EB9714 0%, #FF814B 100%);
    color: white;
}

.list-btn2:hover {
    background: rgb(109, 105, 105);
    color: white;
}

.modal-login {
    margin-top: 100px;
    padding: 0;
}

.ant-modal-content {
    border-radius: 10px 10px 10px 10px !important;
    -webkit-box-shadow: 20px 20px 20px black;
            box-shadow: 20px 20px 20px black;
}

.ant-modal-header {
    border-radius: 10px 10px 0px 0px !important;
    background: -o-linear-gradient(342.13deg, #599BE9 0%, #0B25E0 100.04%);
    background: linear-gradient(107.87deg, #599BE9 0%, #0B25E0 100.04%);
    /* border: 0.1rem solid black; */
}

.ant-modal-title {
    color: white;
    text-align: center;
    font-size: 22px;
}

.finished-ans {
    padding: 0;
    height: 400px;
    width: 698px;
    margin: 0;
}

.sent-ans {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.thanks {
    text-align: center;
    margin-top: 130px;
    font-size: 30px;
}

.list-btn-sent-ans {
    padding: 10px 30px;
    border-radius: 30px;
    border: none;
    width: 150px;
    height: 55px;
    background: -o-linear-gradient(342.13deg, #114E96 0%, #0B25E0 100.04%);
    background: linear-gradient(107.87deg, #114E96 0%, #0B25E0 100.04%);
    color: white;
    margin-top: 50px
}

.finished-ans {
    width: 728px;
}

@media (max-width: 576px) {
    .thanks {
        font-size: 20px;
        margin-top: 200px;
    }
    .finished-ans {
        width: 530px;
        height: 400px;
    }
    .box {
        height: 540px;
        width: 530px;
    }
    .inbox {
        height: 540px;
        width: 530px;
    }
    .bar {
        margin: 20px 40px;
    }
    .head-quiz {
        margin: 0px 40px;
    }
}

@media (max-width: 428px) {
    .box {
        width: 420px;
    }
    .inbox {
        width: 420px;
    }
    .thanks {
        font-size: 20px;
        margin: 200px 0px 0px 0px;
    }
    .finished-ans {
        width: 420px;
        height: 400px;
    }
}

@media (max-width: 414px) {
    .thanks {
        font-size: 20px;
        margin: 200px 0px 0px 0px;
    }
    .finished-ans {
        width: 400px;
        height: 400px;
    }
    .box {
        width: 400px;
    }
    .inbox {
        width: 400px;
    }
}

@media (max-width: 360px) {
    .box {
        width: 350px;
    }
    .inbox {
        width: 350px;
    }
    .thanks {
        font-size: 20px;
        margin: 200px 0px 0px 0px;
    }
    .finished-ans {
        width: 350px;
        height: 400px;
    }
}

