ul.choiceList{
    display: flex;
    /* flex-wrap: wrap; */
    list-style-type: none;
    border: 1px solid black;
    border-radius: 0.5rem;
    margin: 10px 60px;
    align-items: center;
    /* transform: translateX(-3rem); */
    padding: 0;
    height: 2.5rem;
    font-size: 1rem;
    /* justify-content: flex-start; */
}

.choice-list-div {
    display: flex;
    flex-direction: column;
}

li.selected span.choiceBox {
    border: 1px solid black;
    padding: 0.2rem 1.1rem 0.2rem 1.1rem;
    background-color: white;
    margin-right: 1.5rem;
    margin-left: 0.2rem;
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
}

li.selected svg {
    background: linear-gradient(107.87deg, #599BE9 0%, #0B25E0 100.04%);
    color: aliceblue;
    width: 3rem;
    height: 2.4rem;
    border: 1px solid black;
    border-radius: 0.4rem 0rem 0rem 0.4rem;
    margin-right: 1.2rem;
}

@media (max-width: 576px) {
    ul.choiceList {
        font-size: 0.75rem;
        margin: 10px 30px;
    }
    li.selected span.choiceBox {
        padding: 0.4rem 1.1rem 0.4rem 1.1rem;
        margin-right: 1.5rem;
        margin-left: 0.2rem;
        border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
    }
}




