.box {
    z-index: 3 !important;
    border: 1px solid black;
    background: white;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0 300px;
    border-radius: 30px;
    z-index: 2 !important;
}

.inbox {
    color: black;
    display: flex;
    flex-direction: column;
    /* max-width: 200px; */

}

.bar {
    margin: 30px 150px;
}

.head {
    margin: 30px 150px;
}

.c1, .c2, .c3, .c4 {
    border: 1px solid black;
    background: white;
    border-radius: 20px;
    margin: 15px 150px;
}

.checkbox {
    margin: 20px 20px;
}

.btn {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    padding: 20px 150px;
}

.list-btn1 {
    padding: 10px 20px;
    background: #FFFFFF;
    border: 1px solid #1533E1;
    border-radius: 30px;
    color: #1533E1;
}

.list-btn2 {
    padding: 10px 20px;
    border-radius: 30px;
    border: none;
    width: 125px;
    height: 45px;
}


